<%- include ./partials/header %>
  <h1>Inicial</h1>
  <p>Bem vindo!</p>


  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <%- include ./partials/card %>
        </div>
        <div class="col-md-4">
          <%- include ./partials/card %>
        </div>
        <div class="col-md-4">
          <%- include ./partials/card %>
        </div>
      </div>
    </div>

    <%- include ./partials/footer %>
  </body>

  </html>
